<div class="attack-selector">


    <div class="selection-container">
        <div class="pokemon-search">
            <form [formGroup]="front" (ngSubmit)="onFrontSubmit()">
                <label>
                    Pokemon front
                    <input type="text" formControlName="frontInput">
                </label>
                <input type="submit" value="Select">
            </form>

            <span class="error">{{frontErrorMessage}}</span>
        </div>

        <div class="pokemon-attacks" [ngClass]="pokemonFront ?'' :'hidden'">
            <img src={{pokemonFront?.imgFront}} alt="Not selected">
            <h2 class="pokemon-titles">{{pokemonFront?.name}} attacks</h2>
            <div class="attacks-selected">
                <p>Attack selected</p>
                <ul>
                    <li *ngFor="let attack of pokemonFront?.attacks">
                        <span>{{attack.name}}</span>
                    </li>
                </ul>

                <button [ngClass]="{'hidden': frontValidated}" (click)="onValidate(pokemonFront)">Validate</button>
                <span [ngClass]="frontValidated ? '' : 'hidden'">Done !</span>
            </div>
            <ul class="attack-list">
                <li *ngFor="let frontAttack of pokemonFront?.allAttacks" (click)="onSelect(frontAttack, pokemonFront)">
                    <span class="attack">{{frontAttack.name}}</span>
                </li>
            </ul>
        </div>

    </div>


    <button (click)="launchFight('bvb')" [ngClass]="frontValidated &&  backValidated ? 'ready' : 'hidden'">Bot vs Bot
        fight !
    </button>

    <button (click)="launchFight('pvp')" [ngClass]="frontValidated &&  backValidated ? 'ready' : 'hidden'">Player vs
        Player fight !
    </button>


    <div class="selection-container">
        <div class="pokemon-search">
            <form [formGroup]="back" (ngSubmit)="onBackSubmit()">
                <label>
                    Pokemon back
                    <input type="text" formControlName="backInput">
                </label>
                <input type="submit" value="Select">
            </form>
            <span class="error">{{backErrorMessage}}</span>
        </div>
        <div class="pokemon-attacks" [ngClass]="pokemonBack ?'' :'hidden'">
            <img src={{pokemonBack?.imgFront}} alt="Not selected">
            <h2 class="pokemon-titles">{{pokemonBack?.name}} attacks</h2>
            <div class="attacks-selected">
                <p>Attack selected</p>
                <ul>
                    <li *ngFor="let attack of pokemonBack?.attacks">
                        <span>{{attack.name}}</span>
                    </li>
                </ul>
                <button [ngClass]="{'hidden': backValidated}" (click)="onValidate(pokemonBack)">Validate</button>
                <span [ngClass]="backValidated ? '' : 'hidden'">Done !</span>
            </div>
            <ul class="attack-list">
                <li *ngFor="let backAttack of pokemonBack?.allAttacks" (click)="onSelect(backAttack, pokemonBack)">
                    <span class="attack">{{backAttack.name}}</span>
                </li>
            </ul>
        </div>

    </div>


</div>