<div class="attack-selector">


    <div class="selection-container">
        <h3>Pokemon front </h3>
        <div class="pokemon-search">
            <form [formGroup]="front" (ngSubmit)="onFrontSubmit()">
                <input type="text" formControlName="frontInput">
                <input class='button' type="submit" value="Search">
            </form>

            <span class="error">{{frontErrorMessage}}</span>
        </div>

        <div class="pokemon-attacks" [ngClass]="pokemonFront ?'' :'collapse'">
            <img src={{pokemonFront?.imgFront}} alt="Not selected">
            <h2 class="pokemon-titles">{{pokemonFront?.name}}</h2>
            <div class="attacks-selected">
                <p>Attack selected</p>
                <ul>
                    <li *ngFor="let attack of pokemonFront?.attacks">
                        <span (click)="removeAttack(pokemonFront, attack)">{{attack.name}} {{attack.power}}</span>
                    </li>
                </ul>
            </div>
            <button class='validate-button' [ngClass]="{'collapse': frontValidated}" (click)="onValidate(pokemonFront)">
                Validate
            </button>
            <button class='validate-button' [ngClass]="frontValidated ? '' : 'collapse'">Done !</button>

            <div class="attack-list">
                <p>Attack to select</p>
                <ul class="attack-list">
                    <li *ngFor="let frontAttack of pokemonFront?.allAttacks"
                        (click)="onSelect(frontAttack, pokemonFront)">
                        <span class="attack">{{frontAttack.name}} {{frontAttack.power}}</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="choice-container">
        <button class='choice-button' (click)="launchFight('bvb')"
                [ngClass]="frontValidated &&  backValidated ? 'ready' : 'hidden'">Bot vs Bot
            fight !
        </button>

        <button class='choice-button' (click)="launchFight('pvp')"
                [ngClass]="frontValidated &&  backValidated ? 'ready' : 'hidden'">Player vs
            Player fight !
        </button>
    </div>


    <div class="selection-container">
        <h3>Pokemon back</h3>


        <div class="pokemon-search">
            <form [formGroup]="back" (ngSubmit)="onBackSubmit()">
                <input type="text" formControlName="backInput">
                <input class='button' type="submit" value="Search">
            </form>
            <span class="error">{{backErrorMessage}}</span>
        </div>


        <div class="pokemon-attacks" [ngClass]="pokemonBack ?'' :'collapse'">
            <img src={{pokemonBack?.imgFront}} alt="Not selected">
            <h2 class="pokemon-titles">{{pokemonBack?.name}}</h2>

            <div class="attacks-selected">
                <p>Attack selected</p>
                <ul>
                    <li *ngFor="let attack of pokemonBack?.attacks">
                        <span (click)="removeAttack(pokemonBack, attack)">{{attack.name}} {{attack.power}}</span>
                    </li>
                </ul>
            </div>

            <button class='validate-button' [ngClass]="{'collapse': backValidated}" (click)="onValidate(pokemonBack)">
                Validate
            </button>
            <button class='validate-button' [ngClass]="backValidated ? '' : 'collapse'">Done !</button>

            <div class="attack-list">
                <p>Attack to select</p>
                <ul>
                    <li *ngFor="let backAttack of pokemonBack?.allAttacks" (click)="onSelect(backAttack, pokemonBack)">
                        <span class="attack">{{backAttack.name}} {{backAttack.power}}</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>


</div>