<div class="attack-selector">


    <div class="selection-container">
        <div class="pokemon-search">
            <label>
                Pokemon front
                <input id="front-input" type="text" (keydown.enter)="choosePokemon($event)">
            </label>
            <span class="error">{{frontErrorMessage}}</span>
        </div>

        <div class="pokemon-attacks" [ngClass]="pokemonFront ?'' :'hidden'">
            <img src={{pokemonFront?.imgFront}} alt="Not selected">
            <h2 class="pokemon-titles">{{pokemonFront?.name}} attacks</h2>
            <div class="attacks-selected">
                <p>Attack selected</p>
                <ul>
                    <li *ngFor="let attack of pokemonFrontAttacks">
                        <span>{{attack.name}}</span>
                    </li>
                </ul>

                <button [ngClass]="{'hidden': frontValidated}" (click)="onValidate(pokemonFront)">Validate</button>
                <span [ngClass]="frontValidated ? '' : 'hidden'">Done !</span>
            </div>
            <ul class="attack-list">
                <li *ngFor="let frontAttack of pokemonFront?.moves" (click)="onSelect(frontAttack.move, pokemonFront)">
                    <span class="attack">{{frontAttack.move.name}}</span>
                </li>
            </ul>
        </div>

    </div>

    <button (click)="launchFight()" [ngClass]="frontValidated &&  backValidated ? 'ready' : 'hidden'">Fight !</button>
    <div class="selection-container">
        <div class="pokemon-search">
            <label>
                Pokemon back
                <input id="back-input" type="text" (keydown.enter)="choosePokemon($event)">
            </label>
            <span class="error">{{backErrorMessage}}</span>
        </div>
        <div class="pokemon-attacks" [ngClass]="pokemonBack ?'' :'hidden'">
            <img src={{pokemonBack?.imgFront}} alt="Not selected">
            <h2 class="pokemon-titles">{{pokemonBack?.name}} attacks</h2>
            <div class="attacks-selected">
                <p>Attack selected</p>
                <ul>
                    <li *ngFor="let attack of pokemonBackAttacks">
                        <span>{{attack.name}}</span>
                    </li>
                </ul>
                <button [ngClass]="{'hidden': backValidated}" (click)="onValidate(pokemonBack)">Validate</button>
                <span [ngClass]="backValidated ? '' : 'hidden'">Done !</span>
            </div>
            <ul class="attack-list">
                <li *ngFor="let backAttack of pokemonBack?.moves" (click)="onSelect(backAttack.move, pokemonBack)">
                    <span class="attack">{{backAttack.move.name}}</span>
                </li>
            </ul>
        </div>

    </div>


</div>