@keyframes animation-attacked
  0%
    -webkit-transition: opacity 0.2s ease-in-out
    -moz-transition: opacity 0.2s ease-in-out
    -ms-transition: opacity 0.2s ease-in-out
    -o-transition: opacity 0.2s ease-in-out
    transition: opacity 0.2s ease-in-out
    opacity: 0
  33%
    -webkit-transition: opacity 0.2s ease-in-out
    -moz-transition: opacity 0.2s ease-in-out
    -ms-transition: opacity 0.2s ease-in-out
    -o-transition: opacity 0.2s ease-in-out
    transition: opacity 0.2s ease-in-out
    opacity: 1
  66%
    -webkit-transition: opacity 0.2s ease-in-out
    -moz-transition: opacity 0.2s ease-in-out
    -ms-transition: opacity 0.2s ease-in-out
    -o-transition: opacity 0.2s ease-in-out
    transition: opacity 0.2s ease-in-out
    opacity: 0
  100%
    -webkit-transition: opacity 0.2s ease-in-out
    -moz-transition: opacity 0.2s ease-in-out
    -ms-transition: opacity 0.2s ease-in-out
    -o-transition: opacity 0.2s ease-in-out
    transition: opacity 0.2s ease-in-out
    opacity: 1

@keyframes animation-attacker-front
  0%
    transform: translate(-50px, 50px)

@keyframes animation-attacker-back
  0%
    transform: translate(50px, -50px)

@keyframes animation-damage
  0%
    opacity: 1
  50%
    opacity: 1
  100%
    opacity: 1

#battle-div
  margin: auto
  width: 650px
  font-family: Arial
  #win-msg
    position: absolute
    left: 50%
    top: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    font-size: 32px
    width: 90%
    text-align: center
    text-transform: uppercase
    font-weight: bold
    margin: 0

  #ground
    position: relative
    background-image: url("http://i635.photobucket.com/albums/uu74/PocketmonmMaster/1_zps5e1a5a12.png")
    background-repeat: no-repeat
    background-size: cover
    height: 300px
    overflow: hidden
    .pokemon-div
      position: relative
      height: 50%
      .pokemon-info
        width: 150px
        height: 50px
        background-color: white
        border-radius: 10px
        border: solid dimgrey 1px
        position: absolute
        .health-bar-border
          width: 120px
          height: 10px
          border-radius: 5px
          border: solid dimgrey 1px
          margin: auto
          .health-bar
            width: 120px
            height: 10px
            background-color: greenyellow
            float: left
            -webkit-transition: width 0.5s ease-in-out
            -moz-transition: width 0.5s ease-in-out
            -ms-transition: width 0.5s ease-in-out
            -o-transition: width 0.5s ease-in-out
            transition: width 0.5s ease-in-out
        .pokemon-name
          font-size: 14px
          text-transform: capitalize
          margin: 6px
          text-align: center
      #pokemon-info-front
        top: 10px
        left: 10px
      #pokemon-info-back
        bottom: 10px
        right: 10px
      .is-dead
        -webkit-transition: transform 0.2s, opacity 1s ease-in-out
        -moz-transition: transform 0.2s, opacity 1s ease-in-out
        -ms-transition: transform 0.2s, opacity 1s ease-in-out
        -o-transition: transform 0.2s, opacity 1s ease-in-out
        transition: transform 0.2s, opacity 1s ease-in-out
        transition-delay: 1s
        transform: rotate(90deg)
        opacity: 0
      img
        position: absolute
        bottom: 0
    #pokemon-front
      #damage-front
        position: absolute
        right: 50px
        top: 20px
        font-size: 25px
        font-weight: bold
        display: none
        color: white
      #damage-front.damage-pokemon
        display: block
      img
        right: 50px

    #pokemon-back
      #damage-back
        color: white
        position: absolute
        left: 50px
        top: 20px
        font-size: 25px
        font-weight: bold
        display: none
      #damage-back.damage-pokemon
        display: block
      img
        left: 50px

#log-div
  font-family: Arial
  margin: 15px auto
  width: 650px
  height: 200px
  overflow: scroll
  overflow-x: hidden
  border: 1px solid black
  .log-messages
    margin: 15px
#pause
  display: block
  margin: auto
.animation-attacked
  animation-name: animation-attacked
  animation-delay: 0.3s
  animation-duration: 0.5s
.animation-attacker-back
  animation-name: animation-attacker-back
  animation-duration: 0.5s
.animation-attacker-front
  animation-name: animation-attacker-front
  animation-duration: 0.5s

.bold
  font-weight: bold

.attack-lists
  font-family: Arial
  margin: 15px auto
  width: 650px
  height: 180px
  .attack-pokemon-name
    font-weight: bold
    font-size: 17px
    text-align: center
    margin: 10px
  .attack-names
    text-align: center
  #attack-list-back
    height: 100%
    width: 310px
    float: left
    border: 1px solid black
    border-radius: 10px
  #attack-list-front
    height: 100%
    width: 310px
    float: right
    border: 1px solid black
    border-radius: 15px

.attack-names
  box-shadow: 1px 1px 5px darkgrey
  text-shadow: 1px 1px 1px darkgrey
  border-radius: 4px
  margin: 5px auto
  width: 150px
  cursor: pointer
  color: #ffffff
  font-size: 14px
  padding: 5px 10px
  text-decoration: none
.attack-names:hover
  opacity: 0.8

