#battle-div
  margin: 60px auto
  width: 650px
  .pokemon-name
    font-size: 23px
    text-transform: uppercase
  #pokemon-front-name
    text-align: right
    margin-right: 50px
  #pokemon-back-name
    text-align: left
    margin-left: 50px
  #ground
    background-image: url("http://i635.photobucket.com/albums/uu74/PocketmonmMaster/1_zps5e1a5a12.png")
    background-repeat: no-repeat
    background-size: cover
    height: 300px
    overflow: hidden
    .pokemon-div
      height: 50%
      img
        width: 200px
    #pokemon-front
      img
        float: right
        margin-right: 50px
    #pokemon-back
      img
        float: left
        margin-left: 50px
.is-dead
  transform: rotate(90deg)
  -webkit-transition: opacity 1s ease-in-out
  -moz-transition: opacity 1s ease-in-out
  -ms-transition: opacity 1s ease-in-out
  -o-transition: opacity 1s ease-in-out
  transition: opacity 1s ease-in-out
  opacity: 0



